#container{
	float: left; 
	width: 26.5%;
	margin: 10px 3% 10px 3%;
}

#value{
	background-color:#eee;
	min-height:110px;
	width:100%;
	display:block;
	padding: 0px 10px 0px 10px;
	padding-top:10%;
	text-align:center;
	font-weight:bold;
	font-size: 87%;
	word-wrap:break-word;
	vertical-align:middle;
	border-radius: 25px;
}

#description{
	margin-top:5px;
	text-align:center;
	font-size: 77%;
}

#inner{
	padding-bottom:10%;
}
